<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Smile - website template</title>
    <meta
      content="Smile website template is highly suitable for dental clinics, dentists, medical websites, health centers and doctors."
      name="description"
    />
    <meta content="Smile - website template" property="og:title" />
    <meta
      content="Smile website template is highly suitable for dental clinics, dentists, medical websites, health centers and doctors."
      property="og:description"
    />
    <meta content="Smile - website template" property="twitter:title" />
    <meta
      content="Smile website template is highly suitable for dental clinics, dentists, medical websites, health centers and doctors."
      property="twitter:description"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="<%= path %>/css/style.css" rel="stylesheet" type="text/css" />
    <link
      href="<%= path %>/css/animation.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link
      href="https://fonts.gstatic.com"
      rel="preconnect"
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            "DM Serif Display:regular,italic",
            "Nunito:regular,italic,600,600italic,700,700italic",
          ],
        },
      });
    </script>
    <script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        (n.className += t + "js"),
          ("ontouchstart" in o ||
            (o.DocumentTouch && c instanceof DocumentTouch)) &&
            (n.className += t + "touch");
      })(window, document);
    </script>
    <link
      href="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f27357af2c5dbc98e788898_favicon.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link
      href="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f273580c263680d5dff1a22_webclip.png"
      rel="apple-touch-icon"
    />
  </head>
  <body>
    <div
      data-collapse="medium"
      data-animation="default"
      data-duration="400"
      data-easing="ease-in-out"
      data-easing2="ease-in-out"
      role="banner"
      class="navbar w-nav"
    >
      <div
        class="block-navbar nav-animation"
        style="transition: all 200ms ease-in-out"
      >
        <a href="/" class="brand w-nav-brand"
          ><img
            src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f27493c8e65f20c10d0ce9d_logo.svg"
            width="108"
            height="34"
            alt=""
            class="logo"
        /></a>
        <div class="menu">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <!--
              <div data-hover="true" data-delay="300" class="dropdown w-dropdown">
              
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-dropdown w-icon-dropdown-toggle"></div>
                <div class="dropdown-text">Home</div>
              </div>
               <nav class="dropdown-list w-dropdown-list">
                <a href="/home-1" class="dropdown-link w-dropdown-link"
                  >Home 1</a
                ><a href="/home-2" class="dropdown-link w-dropdown-link"
                  >Home 2</a
                ><a
                  href="/home-3"
                  aria-current="page"
                  class="dropdown-link w-dropdown-link w--current"
                  >Home 3</a
                ><a href="/home-4" class="dropdown-link w-dropdown-link"
                  >Home 4</a
                >
              </nav> 
            </div>-->
            <div data-hover="true" data-delay="300" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-dropdown w-icon-dropdown-toggle"></div>
                <div class="dropdown-text">Services</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="" class="dropdown-link w-dropdown-link">Services 1</a
                ><a href="" class="dropdown-link w-dropdown-link">Services 2</a
                ><a href="" class="dropdown-link w-dropdown-link">Services 3</a>
              </nav>
            </div>
            <a href="" class="nav-link w-nav-link">Blog<br /></a>
            <div data-hover="true" data-delay="300" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-dropdown w-icon-dropdown-toggle"></div>
                <div class="dropdown-text">About</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="" class="dropdown-link w-dropdown-link">About 1</a
                ><a href="" class="dropdown-link w-dropdown-link">About 2</a
                ><a href="" class="dropdown-link w-dropdown-link">About 3</a>
              </nav>
            </div>
            <a href="" class="nav-link w-nav-link">Contact<br /></a>
          </nav>
          <a href="" class="nav-button w-button">Book Now</a>
          <div class="menu-button w-nav-button">
            <div class="icon-menu w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
      <div class="white-fill-navbar"></div>
    </div>
    <div data-w-id="3a853309-5ac4-c01c-75a7-e382fb5966cd" class="section-hero">
      <div class="content">
        <div class="w-layout-grid grid-hero">
          <div class="text-hero left">
            <h1 class="hero-title small">
              Get ready for your best ever
              <span class="title-italic">dental experience!</span>
            </h1>
            <p style="opacity: 0" class="paragraph-large enable">
              We use only the best quality materials on the market in order to
              provide the best products to our patients
            </p>
            <a style="opacity: 0" href="" class="button green w-button enable"
              >Our Services</a
            >
          </div>
          <div class="block-img-hero">
            <div class="img-hero">
              <div
                style="opacity: 0"
                class="img-hero-2-1 pointer-animation enable-1"
              >
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f29f16f94847387487e034e_hero_2_7.jpg"
                  height=""
                  alt=""
                  class="image-style"
                />
              </div>
              <div
                style="opacity: 0"
                class="img-hero-2-2 pointer-animation-1 enable-1"
              >
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f29f16f14bd383c98695a5c_hero_2_6.jpg"
                  height=""
                  alt=""
                  class="image-style"
                />
              </div>
              <div
                style="opacity: 0"
                class="img-hero-2-3 pointer-animation enable-1"
              >
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f29f16fe162131dde6125b6_hero_2_3.jpg"
                  height=""
                  alt=""
                  class="image-style"
                />
              </div>
              <div
                style="opacity: 0"
                class="img-hero-2-4 pointer-animation-1 enable-1"
              >
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f29f16f69ed952591bbb337_hero_2_2.jpg"
                  height=""
                  alt=""
                  class="image-style"
                />
              </div>
              <div
                style="opacity: 0"
                class="img-hero-2-5 pointer-animation enable-1"
              >
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f29f16ff5fb1630e05f69f2_hero_2_1.jpg"
                  height=""
                  alt=""
                  class="image-style"
                />
              </div>
              <div
                style="opacity: 0"
                class="img-hero-2-6 pointer-animation enable-1"
              >
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f29f16f669e3153f28931e6_hero_2_4.jpg"
                  height=""
                  alt=""
                  class="image-style"
                />
              </div>
              <div
                style="opacity: 0"
                class="img-hero-2-7 pointer-animation-1 enable-1"
              >
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f29f16f048f4a7eb1d14df7_hero_2_5.jpg"
                  height=""
                  alt=""
                  class="image-style"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- treatments -->
    <div class="section-white">
      <div class="content">
        <div class="collection-list-wrapper w-dyn-list">
          <div role="list" class="collection-list-service w-dyn-items">
            <div
              role="listitem"
              class="collection-item-service-icon w-dyn-item scroll-trigger"
            >
              <img
                alt=""
                src="https://assets.website-files.com/5f2c77a7490a8e36df8d4597/5f2c79bb6b17fc6e1827fd20_icon_1.svg"
                class="icon-service"
              /><a href="" class="heading-service-icon-cms"
                >Root Canal Treatment</a
              >
              <p class="paragraph-service">
                Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                eleifend tellus. Aenean leo ligula, porttitor eu, consequat
              </p>
              <a href="" class="button-small w-button">Read More</a>
            </div>
            <div
              role="listitem"
              class="collection-item-service-icon w-dyn-item scroll-trigger"
            >
              <img
                alt=""
                src="https://assets.website-files.com/5f2c77a7490a8e36df8d4597/5f2c796ff0aaca647cd9d389_icon_2.svg"
                class="icon-service"
              /><a href="" class="heading-service-icon-cms">Cosmetic Dentist</a>
              <p class="paragraph-service">
                Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
              </p>
              <a href="" class="button-small w-button">Read More</a>
            </div>
            <div
              role="listitem"
              class="collection-item-service-icon w-dyn-item scroll-trigger"
            >
              <img
                alt=""
                src="https://assets.website-files.com/5f2c77a7490a8e36df8d4597/5f2c78ce8f9741334df79130_icon_3.svg"
                class="icon-service"
              /><a href="" class="heading-service-icon-cms">Dental Implants</a>
              <p class="paragraph-service">
                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae
              </p>
              <a href="" class="button-small w-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-background">
      <div class="content">
        <div class="w-layout-grid grid-2-columns">
          <div class="block-image scroll-trigger-1">
            <img
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f38a6c03eba5dc3053347ab_welcome.jpg"
              height=""
              srcset="
                https://assets.website-files.com/5f2731c05754d37670cef5bb/5f38a6c03eba5dc3053347ab_welcome-p-500.jpeg 500w,
                https://assets.website-files.com/5f2731c05754d37670cef5bb/5f38a6c03eba5dc3053347ab_welcome.jpg        800w
              "
              sizes="(max-width: 767px) 96vw, 95vw"
              alt=""
              class="image-style-grid"
            />
          </div>
          <div class="block-right">
            <div class="subtitle green scroll-trigger-1">Welcome</div>
            <h2 class="title scroll-trigger-1">
              Leave your worries at the door and enjoy a healthier, more precise
              smile
            </h2>
            <p class="scroll-trigger-1">
              Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
              Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
              Maecenas tempus, tellus eget condimentum rhoncus
            </p>
            <a href="" class="button green w-button scroll-trigger-2"
              >About Us</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- testimonial -->
    <div class="section-white">
      <div class="content">
        <div class="block-center">
          <div class="subtitle green scroll-trigger-3">Testimonials</div>
          <h2 class="title scroll-trigger-3">
            Exceptionally high<br />standards of dentistry
          </h2>
        </div>
        <div class="w-layout-grid grid-3-columns">
          <div class="testimonial scroll-trigger-4">
            <img
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2ca4fff547c01771bceb8b_avatar_1.jpg"
              alt=""
              class="avatar"
            />
            <h5 class="heading-testimonial">Miriam Davis</h5>
            <p class="paragraph-italic">
              “Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur”
            </p>
            <div class="stars">
              <img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              />
            </div>
          </div>
          <div class="testimonial scroll-trigger-4">
            <img
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2ca4ffe88d879f9b7a68ac_avatar_2.jpg"
              alt=""
              class="avatar"
            />
            <h5 class="heading-testimonial">Ellen Evans</h5>
            <p class="paragraph-italic">
              “Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
              Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam”
            </p>
            <div class="stars">
              <img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              />
            </div>
          </div>
          <div class="testimonial scroll-trigger-4">
            <img
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2ca500bd2498f8320739a2_avatar_3.jpg"
              alt=""
              class="avatar"
            />
            <h5 class="heading-testimonial">Christine Dean</h5>
            <p class="paragraph-italic">
              “Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
              rhoncus. Maecenas tempus, tellus eget condimentum rhoncus”
            </p>
            <div class="stars">
              <img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              /><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2c9fb2432a6429c5a34ee2_star.svg"
                alt=""
                class="icon-star"
              />
            </div>
          </div>
        </div>
        <a href="" class="button green w-button scroll-trigger-5"
          >More Testimonials</a
        >
      </div>
    </div>
    <!-- bookings -->
    <div class="section-full">
      <div class="w-layout-grid grid-full">
        <div class="block-full dark">
          <div class="block-full-text">
            <div class="subtitle">Book Now</div>
            <h2 class="title white">
              We’re welcoming new patients and can’t wait to meet you.
            </h2>
            <p class="paragraph-white">
              Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
              Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
              Maecenas tempus, tellus eget condimentum rhoncus
            </p>
            <div class="single-form-block w-form">
              <form
                id="wf-form-Phone-Form"
                name="wf-form-Phone-Form"
                data-name="Phone Form"
                method="get"
                class="single-form"
                data-wf-page-id="5f31d790924af2a1c0e915b0"
                data-wf-element-id="024cc2f3-7f58-7703-f914-c519610d2f7b"
              >
                <input
                  type="tel"
                  class="text-field w-input"
                  maxlength="256"
                  name="phone"
                  data-name="Phone"
                  placeholder="Your Phone Number"
                  id="phone"
                  required=""
                /><input
                  type="submit"
                  value="Send"
                  data-wait="Please wait..."
                  class="submit-button w-button"
                />
              </form>
              <div class="success-message w-form-done">
                <div class="text-success">
                  Thank you! Your submission has been received!
                </div>
              </div>
              <div class="error-message w-form-fail">
                <div class="text-error">
                  Oops! Something went wrong while submitting the form.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          data-poster-url="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f346749a8ff3dd49dae1_production ID_4487291-poster-00001.jpg"
          data-video-urls="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f346749a8ff3dd49dae1_production ID_4487291-transcode.mp4,https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f346749a8ff3dd49dae1_production ID_4487291-transcode.webm"
          data-autoplay="true"
          data-loop="true"
          data-wf-ignore="true"
          class="background-video w-background-video w-background-video-atom scroll-trigger-6"
        >
          <video
            id="a5c88edb-7f64-7ad4-30a1-d7a05a4a9f05-video"
            autoplay=""
            loop=""
            style="
              background-image: url('https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f346749a8ff3dd49dae1_production ID_4487291-poster-00001.jpg');
            "
            muted=""
            playsinline=""
            data-wf-ignore="true"
            data-object-fit="cover"
          >
            <source
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f346749a8ff3dd49dae1_production ID_4487291-transcode.mp4"
              data-wf-ignore="true"
            />
            <source
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f346749a8ff3dd49dae1_production ID_4487291-transcode.webm"
              data-wf-ignore="true"
            />
          </video>
        </div>
      </div>
    </div>
    <div class="section-full">
      <div class="w-layout-grid grid-full">
        <div
          data-poster-url="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f293399f032677e8f77d_production ID_4491004-poster-00001.jpg"
          data-video-urls="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f293399f032677e8f77d_production ID_4491004-transcode.mp4,https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f293399f032677e8f77d_production ID_4491004-transcode.webm"
          data-autoplay="true"
          data-loop="true"
          data-wf-ignore="true"
          class="background-video w-background-video w-background-video-atom scroll-trigger-7"
        >
          <video
            id="3db134d7-e683-4d9c-a55d-984e7a75ccd0-video"
            autoplay=""
            loop=""
            style="
              background-image: url('https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f293399f032677e8f77d_production ID_4491004-poster-00001.jpg');
            "
            muted=""
            playsinline=""
            data-wf-ignore="true"
            data-object-fit="cover"
          >
            <source
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f293399f032677e8f77d_production ID_4491004-transcode.mp4"
              data-wf-ignore="true"
            />
            <source
              src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f31f293399f032677e8f77d_production ID_4491004-transcode.webm"
              data-wf-ignore="true"
            />
          </video>
        </div>
        <div
          id="w-node-_3db134d7-e683-4d9c-a55d-984e7a75ccd1-c0e915b0"
          class="block-full"
        >
          <div class="block-full-text">
            <div class="subtitle">Who We Are</div>
            <h2 class="title">
              Why choose <span class="title-italic">Smile</span> clinic for all
              your dental treatments?
            </h2>
            <div class="check">
              <div class="circle-check">
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2cc1f189ac2bcfc4fca6c0_check.svg"
                  alt=""
                  class="icon-check"
                />
              </div>
              <h6 class="heading-check">Top quality dental team</h6>
            </div>
            <div class="check">
              <div class="circle-check">
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2cc1f189ac2bcfc4fca6c0_check.svg"
                  alt=""
                  class="icon-check"
                />
              </div>
              <h6 class="heading-check">State of the art dental services</h6>
            </div>
            <div class="check">
              <div class="circle-check">
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2cc1f189ac2bcfc4fca6c0_check.svg"
                  alt=""
                  class="icon-check"
                />
              </div>
              <h6 class="heading-check">Discount on all dental treatment</h6>
            </div>
            <div class="check">
              <div class="circle-check">
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2cc1f189ac2bcfc4fca6c0_check.svg"
                  alt=""
                  class="icon-check"
                />
              </div>
              <h6 class="heading-check">Enrollment is quick and easy</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- specialists -->
    <div class="section-white">
      <div class="content">
        <div class="block-center">
          <div class="subtitle scroll-trigger-8">Our Staff</div>
          <h2 class="title scroll-trigger-8">Meet our specialists</h2>
        </div>
        <div class="w-layout-grid grid-4-columns">
          <div class="staff scroll-trigger-9">
            <div class="block-image-staff">
              <div class="block-link-social">
                <a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e801607ca3140487d9_social_1.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e8e83d3d7adc3f204c_social_2.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e86730a4812a8faae4_social_3.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e820250dfb2fee5a76_social_4.svg"
                    alt=""
                    class="icon-social"
                /></a>
              </div>
              <img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f0d51e28334823404dc73_specialist_1.jpg"
                height=""
                alt=""
                class="image-style-staff"
              />
            </div>
            <h5 class="heading-staff">Dr. Patricia Francis</h5>
            <div class="text-staff">Dental Surgeon</div>
          </div>
          <div class="staff scroll-trigger-9">
            <div class="block-image-staff">
              <div class="block-link-social">
                <a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e801607ca3140487d9_social_1.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e8e83d3d7adc3f204c_social_2.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e820250dfb2fee5a76_social_4.svg"
                    alt=""
                    class="icon-social"
                /></a>
              </div>
              <img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f0d52856f6e0ddb8d5a7c_specialist_2.jpg"
                height=""
                alt=""
                class="image-style-staff"
              />
            </div>
            <h5 class="heading-staff">Lorna Austin</h5>
            <div class="text-staff">Patient Coordinator</div>
          </div>
          <div class="staff scroll-trigger-9">
            <div class="block-image-staff">
              <div class="block-link-social">
                <a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e801607ca3140487d9_social_1.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e8e83d3d7adc3f204c_social_2.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e86730a4812a8faae4_social_3.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e820250dfb2fee5a76_social_4.svg"
                    alt=""
                    class="icon-social"
                /></a>
              </div>
              <img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f0d52e28334588404dc74_specialist_3.jpg"
                height=""
                alt=""
                class="image-style-staff"
              />
            </div>
            <h5 class="heading-staff">Dr. Miguel Donaldson</h5>
            <div class="text-staff">Dental Implant Specialist</div>
          </div>
          <div class="staff scroll-trigger-9">
            <div class="block-image-staff">
              <div class="block-link-social">
                <a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e801607ca3140487d9_social_1.svg"
                    alt=""
                    class="icon-social" /></a
                ><a href="#" class="link-social w-inline-block"
                  ><img
                    src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f11e8e83d3d7adc3f204c_social_2.svg"
                    alt=""
                    class="icon-social"
                /></a>
              </div>
              <img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f0d525b3d4f0a91dbf521_specialist_4.jpg"
                height=""
                alt=""
                class="image-style-staff"
              />
            </div>
            <h5 class="heading-staff">Dr. Tess Turner</h5>
            <div class="text-staff">Chief Periodontist</div>
          </div>
        </div>
        <a href="" class="button w-button scroll-trigger-10">More Staff</a>
      </div>
    </div>
    <div class="section-footer-top">
      <div class="content small">
        <div class="footer-top">
          <div class="block-footer-top">
            <div class="contact-footer">
              <div class="circle-contact">
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2ca9f155f0c729245658de_phone.svg"
                  alt=""
                  class="icon-contact"
                />
              </div>
              <h6 class="heading-contact white">
                Call Today<br />1 800-123-4567
              </h6>
            </div>
            <div class="contact-footer">
              <div class="circle-contact">
                <img
                  src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2ca9f1ec3eb209da3aeeb8_marker.svg"
                  alt=""
                  class="icon-contact"
                />
              </div>
              <h6 class="heading-contact white">
                5678 Seltice Way Coeur <br />D Alene, ID 12345
              </h6>
            </div>
          </div>
          <div class="block-footer-top">
            <h6 class="heading-contact-footer">
              We’re welcoming new patients and can’t wait to meet you.
            </h6>
            <a href="" class="button w-button">Book Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section-footer">
      <div class="content zero">
        <div class="w-layout-grid grid-footer">
          <div
            id="w-node-f89b3e2e-5382-f5d0-2f58-ef2e3ab42a68-3ab42a65"
            class="block-footer"
          >
            <a href="#" class="brand-footer w-nav-brand"
              ><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f27493c02b1aa18b8c850e0_logo_footer.svg"
                width="108"
                height="34"
                alt=""
                class="logo"
            /></a>
            <p class="paragraph-white">
              <span class="white-semi-bold">Monday - Friday:</span> 8:00am -
              8:00pm<br /><span class="white-semi-bold">Saturday:</span> 8:00am
              - 6:00pm<br /><span class="white-semi-bold">Sunday:</span> closed
            </p>
          </div>
          <div class="block-footer">
            <h6 class="heading-footer">Company</h6>
            <a href="" class="link-footer">About Us</a
            ><a href="" class="link-footer">Services</a
            ><a href="" class="link-footer">Contact</a
            ><a href="" class="link-footer">Blog</a>
          </div>
          <div class="block-footer">
            <h6 class="heading-footer">Services</h6>
            <a href="" class="link-footer">Cosmetic Dentist</a
            ><a href="" class="link-footer">Root Canal Treatment</a
            ><a href="" class="link-footer">Dental Implants</a
            ><a href="" class="link-footer">Teeth Whitening</a>
          </div>
        </div>
      </div>
      <div class="content zero">
        <div class="footer-down">
          <div class="block-footer-down">
            <a href="" target="_blank" class="link-footer"
              >&copy; 2023 All rights reserved</a
            >
          </div>
          <div class="block-footer-down">
            <a href="#" class="link-social-footer w-inline-block"
              ><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f545cbb031bb5884bf689_Facebook.svg"
                alt=""
                class="icon-social-footer" /></a
            ><a href="#" class="link-social-footer w-inline-block"
              ><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f545c73220babb5ccf8bb_Twitter.svg"
                alt=""
                class="icon-social-footer" /></a
            ><a href="#" class="link-social-footer w-inline-block"
              ><img
                src="https://assets.website-files.com/5f2731c05754d37670cef5bb/5f2f545c48c0a7119f79e259_Instagram.svg"
                alt=""
                class="icon-social-footer"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="<%= path %>/js/main.js"></script>
  </body>
</html>
