.scroll-trigger.deactive {
  width: 0px;
  opacity: 0;
}

.scroll-trigger-6.deactive {
  opacity: 0;
}

.scroll-trigger-9.deactive {
  opacity: 0;
}

.scroll-trigger-12.deactive {
  opacity: 0;
}

.scroll-trigger-14.deactive {
  opacity: 0;
}

.scroll-trigger-15.scale-fix {
  width: fit-content !important;
}
