.animate__animated {
    opacity: 0;
}

.animate__animated.d200 {
    animation-delay: .200s;
}

.animate__animated.d300 {
    animation-delay: .300s;
}

.animate__animated.d400 {
    animation-delay: .400s;
}

.animate__animated.d500 {
    animation-delay: .500s;
}


/* video section layout fix */

div.tabs-container {
    display: grid;
    grid-template-columns: 1fr 400px;
}

div.tabs-container .tabs-content-w {
    width: 100%;
}