<!DOCTYPE html>
<html data-wf-domain="www.xyz.com" data-wf-page="623b536587fbf02a7a544f87"
  data-wf-site="621dd5a1a3a435aa4cbad097">

<%- include('head') %>

<body>
  <div class="utility-page-wrap">
    <div class="shadow"></div>
    <div class="utility-page-content">
      <h1 class="heading-404">404</h1>
      <h3 class="subheading-404">Something's not right.<br></h3>
      <p class="paragraph-404">We can't find the page your are looking for. You can check out our Help Center or head
        back to Homepage.<br></p><a href="<%= path %>" class="primary-button w-button">Back to
        Homepage</a>
    </div>
  </div> 

</body>

</html>