<!DOCTYPE html>
<html data-wf-domain="www.xyz.com" data-wf-page="623b536587fbf00f6b544f8a"
  data-wf-site="621dd5a1a3a435aa4cbad097">

<%- include('head') %>

  <body>
    <%- include('navbar') %>
      <!-- contact form -->
      <div class="contact-us-section wf-section">
        <div class="container-sentured w-container">
          <!-- make this work -->
          <h1 data-w-id="1178bcbf-8f33-c548-d6ef-eba96426f52c" style="opacity:0" class="contact-us-heading">FEEL
            THE<br>NOIZE</h1>
        </div>
      </div>
      <div class="section wf-section">
        <div class="container w-container">
          <div id="w-node-bd648da0-7d39-89fb-7f17-8cb4a282d1fc-6b544f8a" class="w-layout-grid grid">
            <div id="w-node-bb52eae7-2578-ad42-52df-f34142393dad-6b544f8a" class="w-layout-grid contacts-grid">
              <div class="contact-info-wrapper"><img
                  src="images/6239d822b23829dbfe4cd841_iconfinder_basics-23_296811-1.png" loading="lazy" alt=""
                  class="contacts-image location">
                <div id="w-node-_566cf178-27dd-4ac1-99b3-fec56813aa03-6b544f8a">
                  <h5>Find Us</h5>
                  <p>Marylebone Rd, Marylebone, <br>London NW1 5H, UK</p>
                </div>
              </div>
              <div class="contact-info-wrapper"><img src="images/6239d6c3d176a8253dd51605_iconfinder.png" loading="lazy"
                  alt="" class="contacts-image phone">
                <div id="w-node-_34152004-d5c0-7f2f-b3b8-885bf0e25def-6b544f8a">
                  <h5>Call Us</h5><a href="tel:+4564811772">+456 481 1772</a><a href="tel:+4326582556"><br>+4326 5825
                    56</a>
                </div>
              </div>
              <div class="contact-info-wrapper"><img
                  src="images/6239d820c9cf7067d7ac94c1_iconfinder_cell-6-0_234532-2.png" loading="lazy" alt=""
                  class="contacts-image time">
                <div>
                  <h5>Working Hours</h5>
                  <p>Mon-Fri: 8 AM - 5 PM<br>Sat-Sun: 8 AM - 2 PM</p>
                </div>
              </div>
              <div class="contact-info-wrapper"><img src="images/6239d81f7a3bbd3fcf56df85_iconfinder_LI-33_452810.png"
                  loading="lazy" alt="" class="contacts-image mail">
                <div id="w-node-_37248638-5a73-35de-491c-93957d51bb50-6b544f8a">
                  <h5>Write To Us</h5><a href="mailto:Office@noize.com">Office@noize.com<br>&zwj;</a><a
                    href="mailto:Press@noize.com">Press@noize.com</a>
                </div>
              </div>
            </div>
            <div id="w-node-f53bcfcb-d2d1-c313-911c-d76924ef2e8a-6b544f8a">
              <div class="form-con">
                <div class="form-block-2 w-form">
                  <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-2">
                    <div class="input-info-email"><input type="text" class="input-field w-input" maxlength="256"
                        name="name" data-name="Name" placeholder="Your name*" id="name"><input type="email"
                        class="input-field last-item w-input" maxlength="256" name="email" data-name="Email"
                        placeholder="Your e-mail*" id="email" required=""></div><textarea placeholder="Your message*"
                      maxlength="5000" id="field" name="field" data-name="field" required=""
                      class="input-field text-field w-input"></textarea>
                    <div class="submit-button-wrapper"><input type="submit" value="Send Message"
                        data-wait="Please wait..." class="primary-button _100 w-button"></div>
                  </form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <%- include('footer') %>

  </body>

</html>