<div class="footer-section wf-section">
    <div class="footer-container w-container">
        <img src="<%= path %>/images/621e355a4b309516ceff220d_Noize%20Footer%20Logo.png" loading="lazy" width="109" alt=""
            class="logo-footer" />
        <div class="footer-icon-wrapper">
            <a href="#" class="social-link-footer">&#61805;</a>
            <a href="#" class="social-link-footer">&#61665;</a>
            <a href="#" class="social-link-footer">&#61799;</a>
            <a href="#" class="social-link-footer">&#61594;</a>
        </div>
        <div>
            <p class="footer-paragraph">
                All Rights reserved 2023. <a href="#" class="footer-link">Licensing</a>
            </p>
        </div>
    </div>
</div>