<%- include('header') %>
        <div class="section about-hero wf-section">
            <div class="container">
                <div class="hero-slider-content">
                    <div id="w-node-f2bd7fdc-a738-1450-b4f9-1b53880bc1f6-7d833c45" class="column max-600">
                        <div class="label _30-margin">Hi i'm Sandra Lyons<br /></div>
                        <h1>Who can benefit from a fully custom online fitness plan &amp; nutrition?</h1>
                        <p class="big-paragraph max-500">Literally everyone. I&rsquo;m currently helping people from 12
                            to 60+ years old. Everyone is getting an adjusted program and a meal plan.</p>
                        <a href="contact.html" class="button w-button">Book a call</a>
                    </div>
                    <div class="column hero-image-column">
                        <div class="hero-slider-image-wrap">
                            <img src="images/5e80894f63c557e083ed96b4-5e832f3642594a78b769c981_logan-weaver-p3xsJQiu2YA-unsplash.jpg"
                                srcset="
                                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e832f3642594a78b769c981_logan-weaver-p3xsJQiu2YA-unsplash-p-500.jpeg   500w,
                                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e832f3642594a78b769c981_logan-weaver-p3xsJQiu2YA-unsplash-p-800.jpeg   800w,
                                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e832f3642594a78b769c981_logan-weaver-p3xsJQiu2YA-unsplash-p-1080.jpeg 1080w,
                                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e832f3642594a78b769c981_logan-weaver-p3xsJQiu2YA-unsplash-p-1600.jpeg 1600w,
                                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e832f3642594a78b769c981_logan-weaver-p3xsJQiu2YA-unsplash.jpg         1961w
                            " sizes="(max-width: 767px) 95vw, (max-width: 991px) 46vw, 45vw" alt=""
                                class="hero-slider-image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-w-id="704f228a-8df5-ffa9-c2aa-29c84ad7d262" class="section about-s2 wf-section">
            <div class="container video-container">
                <div id="w-node-_8d350ed8-e9a4-eb03-1dcf-82faec0a87df-7d833c45" class="column feature-headline">
                    <h2 class="max-800">How does online fitness coaching work ?</h2>
                    <p class="big-paragraph max-800 no-margin">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </p>
                </div>
                <a href="#" class="about-video-wrap w-inline-block w-lightbox">
                    <img src="images/5e80894f63c557e083ed96b4-5e8330149a30c574961cfcf3_logan-weaver-WJUrYr5KqSw-unsplash.jpg"
                        srcset="
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8330149a30c574961cfcf3_logan-weaver-WJUrYr5KqSw-unsplash-p-1080.jpeg 1080w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8330149a30c574961cfcf3_logan-weaver-WJUrYr5KqSw-unsplash-p-1600.jpeg 1600w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8330149a30c574961cfcf3_logan-weaver-WJUrYr5KqSw-unsplash-p-2000.jpeg 2000w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8330149a30c574961cfcf3_logan-weaver-WJUrYr5KqSw-unsplash-p-2600.jpeg 2600w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8330149a30c574961cfcf3_logan-weaver-WJUrYr5KqSw-unsplash.jpg         2712w
                    " sizes="95vw" alt="" class="about-video-image" />
                    <div class="play-button-wrap"><img
                            src="images/5e80894f63c557e083ed96b4-5e83306467d71f6f9ea0acf4_Play%20Button.svg" alt=""
                            class="play-button" /></div>
                    <script type="application/json" class="w-json">
                    {
                        "items": [
                            {
                                "url": "https://www.youtube.com/watch?v=sJTN0g4Bx0I",
                                "originalUrl": "https://www.youtube.com/watch?v=sJTN0g4Bx0I",
                                "width": 940,
                                "height": 528,
                                "thumbnailUrl": "https://i.ytimg.com/vi/sJTN0g4Bx0I/hqdefault.jpg",
                                "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FsJTN0g4Bx0I%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DsJTN0g4Bx0I&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FsJTN0g4Bx0I%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\">",
                                "type": "video"
                            }
                        ],
                        "group": ""
                    }
                </script>
                </a>
            </div>
        </div>
        <div data-w-id="4cb83808-f988-e8d9-cf74-c6011c7b007b" class="section about-section-3 wf-section">
            <div class="container grid-2">
                <div id="w-node-_48f1e152-304c-af08-bac2-2094cbc0c067-7d833c45" class="column description-heading">
                    <h2 class="max-600">I am Aaron</h2>
                    <p class="big-paragraph max-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul role="list">
                        <li>
                            <h5 class="scribble-text list-text">01</h5>
                            <div>Over 10 years of experience</div>
                        </li>
                        <li>
                            <h5 class="scribble-text list-text">02</h5>
                            <div>Coached 2,000+ people</div>
                        </li>
                        <li>
                            <h5 class="scribble-text list-text">03</h5>
                            <div>Bachelors in nutrition</div>
                        </li>
                    </ul>
                    <a href="contact.html" class="button w-button">Schedule a call</a>
                </div>
                <div id="w-node-d7b1a011-026b-afea-5499-7750c3a8ba54-7d833c45" class="description-image-wrap">
                    <img src="images/5e80894f63c557e083ed96b4-5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash.jpg"
                        srcset="
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-500.jpeg   500w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-800.jpeg   800w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-1080.jpeg 1080w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-1600.jpeg 1600w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash.jpg         1759w
                    " sizes="(max-width: 767px) 95vw, (max-width: 991px) 42vw, 34vw" alt=""
                        class="description-image" />
                </div>
            </div>
            <div class="description-bg about-bg"></div>
        </div>
        <div data-w-id="a91364e5-4e66-737f-0295-c3796be69e8e" class="section about-section-4 wf-section">
            <div class="container grid-2">
                <div id="w-node-a91364e5-4e66-737f-0295-c3796be69ea5-7d833c45" class="description-image-wrap">
                    <img src="images/5e80894f63c557e083ed96b4-5e8331bf54f5df307aa05c19_logan-weaver-DVWa-aq3_m4-unsplash.jpg"
                        srcset="
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8331bf54f5df307aa05c19_logan-weaver-DVWa-aq3_m4-unsplash-p-500.jpeg   500w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8331bf54f5df307aa05c19_logan-weaver-DVWa-aq3_m4-unsplash-p-800.jpeg   800w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8331bf54f5df307aa05c19_logan-weaver-DVWa-aq3_m4-unsplash-p-1080.jpeg 1080w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8331bf54f5df307aa05c19_logan-weaver-DVWa-aq3_m4-unsplash-p-1600.jpeg 1600w,
                        https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8331bf54f5df307aa05c19_logan-weaver-DVWa-aq3_m4-unsplash.jpg         1769w
                    " sizes="(max-width: 767px) 95vw, (max-width: 991px) 42vw, 34vw" alt=""
                        class="description-image" />
                </div>
                <div id="w-node-a91364e5-4e66-737f-0295-c3796be69e90-7d833c45" class="column description-heading">
                    <h2 class="max-600">I am Aaron</h2>
                    <p class="big-paragraph max-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul role="list">
                        <li>
                            <h5 class="scribble-text list-text">01</h5>
                            <div>Over 10 years of experience</div>
                        </li>
                        <li>
                            <h5 class="scribble-text list-text">02</h5>
                            <div>Coached 2,000+ people</div>
                        </li>
                        <li>
                            <h5 class="scribble-text list-text">03</h5>
                            <div>Bachelors in nutrition</div>
                        </li>
                    </ul>
                    <a href="contact.html" class="button w-button">Explore our shop</a>
                </div>
            </div>
            <div class="description-bg left"></div>
        </div>
        <div class="section newsletter-section wf-section">
            <div class="container">
                <div class="newsletter-form w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-content">
                        <h2>Get our free meal plan</h2>
                        <p class="big-paragraph max-800">Signup to our newsletter to get a free 30 day meal plan. You
                            will receive all guidance on what to eat, how to cook and how much to eat.</p>
                        <div class="form-grid">
                            <input type="text" class="form-field w-input" maxlength="256" name="Full-Name-2"
                                data-name="Full Name 2" placeholder="Full Name" id="Full-Name-2" required="" />
                            <input type="email" class="form-field w-input" maxlength="256" name="email-2"
                                data-name="Email 2" placeholder="Email" id="email-2" required="" />
                            <input type="submit" value="Signup" data-wait="Please wait..."
                                id="w-node-_3a7d5772-7f47-7fed-e944-7964f45e6597-f45e658c" class="button w-button" />
                        </div>
                    </form>
                    <div class="sucess-message w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
            <img src="images/5e80894f63c557e083ed96b4-5e8318706203833a1bd11fad_logan-weaver-pD5kSwtNgMc-unsplash.jpg"
                sizes="100vw" srcset="
                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8318706203833a1bd11fad_logan-weaver-pD5kSwtNgMc-unsplash-p-500.jpeg   500w,
                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8318706203833a1bd11fad_logan-weaver-pD5kSwtNgMc-unsplash-p-800.jpeg   800w,
                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8318706203833a1bd11fad_logan-weaver-pD5kSwtNgMc-unsplash-p-1080.jpeg 1080w,
                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8318706203833a1bd11fad_logan-weaver-pD5kSwtNgMc-unsplash-p-1600.jpeg 1600w,
                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8318706203833a1bd11fad_logan-weaver-pD5kSwtNgMc-unsplash-p-2000.jpeg 2000w,
                https://assets.website-files.com/5e80894f63c557e083ed96b4/5e8318706203833a1bd11fad_logan-weaver-pD5kSwtNgMc-unsplash.jpg         2067w
            " alt="" class="section-bg-image top-align" />
        </div>
<%- include('footer') %>