<div data-w-id="417cd7da-3e29-9aa3-1365-ee8b75b4dc84" class="section footer-insta wf-section">
  <div class="container insta-container">
    <div class="insta-row animate-on-scroll scroll-1">
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash.jpg         1588w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc335836db3cdebdf20a_geert-pieters-3RnkZpDqsEI-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc335836db3cdebdf20a_geert-pieters-3RnkZpDqsEI-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc335836db3cdebdf20a_geert-pieters-3RnkZpDqsEI-unsplash-p-1600.jpeg 1600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc335836db3cdebdf20a_geert-pieters-3RnkZpDqsEI-unsplash-p-2000.jpeg 2000w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc335836db3cdebdf20a_geert-pieters-3RnkZpDqsEI-unsplash-p-2600.jpeg 2600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc335836db3cdebdf20a_geert-pieters-3RnkZpDqsEI-unsplash.jpg         3131w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc35a7eca1d6f394deb8_guillaume-bolduc-cfmBbDcCAQo-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc35a7eca1d6f394deb8_guillaume-bolduc-cfmBbDcCAQo-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc35a7eca1d6f394deb8_guillaume-bolduc-cfmBbDcCAQo-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc35a7eca1d6f394deb8_guillaume-bolduc-cfmBbDcCAQo-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc35a7eca1d6f394deb8_guillaume-bolduc-cfmBbDcCAQo-unsplash-p-2000.jpeg 2000w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc35a7eca1d6f394deb8_guillaume-bolduc-cfmBbDcCAQo-unsplash-p-2600.jpeg 2600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc35a7eca1d6f394deb8_guillaume-bolduc-cfmBbDcCAQo-unsplash.jpg         2725w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img
          src="images/5e80894f63c557e083ed96b4-5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash-p-1600.jpeg 1600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3543a59d1e21194573_angelos-michalopoulos-S3Rs0DcvvK0-unsplash.jpg         1759w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc395836db896fbdf20d_kelly-sikkema-IZOAOjvwhaM-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc395836db896fbdf20d_kelly-sikkema-IZOAOjvwhaM-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc395836db896fbdf20d_kelly-sikkema-IZOAOjvwhaM-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc395836db896fbdf20d_kelly-sikkema-IZOAOjvwhaM-unsplash-p-1600.jpeg 1600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc395836db896fbdf20d_kelly-sikkema-IZOAOjvwhaM-unsplash-p-2000.jpeg 2000w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc395836db896fbdf20d_kelly-sikkema-IZOAOjvwhaM-unsplash.jpg         2314w
                                " alt="" class="insta-post-image" />
      </div>
    </div>
    <div class="insta-row animate-on-scroll scroll-2">
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash.jpg         1588w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc330c4ef42626fe067e_derick-mckinney-__QqvTI5Edc-unsplash.jpg         1588w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc39dc5445cab2f2fc62_guillaume-bolduc-zFzR5K2-_xc-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dc5445cab2f2fc62_guillaume-bolduc-zFzR5K2-_xc-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dc5445cab2f2fc62_guillaume-bolduc-zFzR5K2-_xc-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dc5445cab2f2fc62_guillaume-bolduc-zFzR5K2-_xc-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dc5445cab2f2fc62_guillaume-bolduc-zFzR5K2-_xc-unsplash-p-1600.jpeg 1600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dc5445cab2f2fc62_guillaume-bolduc-zFzR5K2-_xc-unsplash-p-2000.jpeg 2000w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dc5445cab2f2fc62_guillaume-bolduc-zFzR5K2-_xc-unsplash.jpg         2338w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash-p-1600.jpeg 1600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash-p-2000.jpeg 2000w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash-p-2600.jpeg 2600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc39dad44dc6402ce3e5_morgan-petroski-rx6wXNsXUOE-unsplash.jpg         3195w
                                " alt="" class="insta-post-image" />
      </div>
      <div class="insta-post-wrap">
        <img src="images/5e80894f63c557e083ed96b4-5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash.jpg"
          sizes="(max-width: 479px) 150px, (max-width: 991px) 200px, 400px" srcset="
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash-p-500.jpeg   500w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash-p-800.jpeg   800w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash-p-1080.jpeg 1080w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash-p-1600.jpeg 1600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash-p-2000.jpeg 2000w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash-p-2600.jpeg 2600w,
                                    https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80cc3929502f63a5ba28e2_hipcravo-DC5akQJyH4I-unsplash.jpg         3018w
                                " alt="" class="insta-post-image" />
      </div>
    </div>
  </div>
  <div class="insta-section-line">
    <a href="enter-social" target="_blank" class="social-wrap w-inline-block">
      <img src="images/5e80894f63c557e083ed96b4-5e82ffa5871a996615e6cebc_003-twitter-logo-button.svg" alt=""
        class="social-icon" />
      <div>@My Twitter</div>
    </a>
    <a href="enter-social" target="_blank" class="social-wrap left-social w-inline-block">
      <img src="images/5e80894f63c557e083ed96b4-5e83002e40b6b8486e320705_instagram.svg" alt="" class="social-icon" />
      <div>@My Insta</div>
    </a>
    <a href="enter-social" class="social-wrap w-inline-block">
      <img src="images/5e80894f63c557e083ed96b4-5e82ffa4097a9061280e5e5a_004-linkedin-logo-button.svg" alt=""
        class="social-icon" />
      <div>Linkdin</div>
    </a>
    <a href="enter-social" target="_blank" class="social-wrap left-social w-inline-block">
      <img src="images/5e80894f63c557e083ed96b4-5e830050cf9bc2c348479b60_youtube.svg" alt="" class="social-icon" />
      <div>Youtube</div>
    </a>
  </div>
</div>
<div class="section footer-section wf-section">
  <div class="container footer-container">
    <div id="w-node-_1d6466da-e94d-115c-c97d-71e22c54b454-2c54b452" class="column">
      <a href="#" class="footer-brand w-nav-brand"><img
          src="images/5e80894f63c557e083ed96b4-5e808d31a7eca1775993ae82_Black.svg" alt="" class="brand-logo" /></a>
      <div class="_30px-spacer" style="height: 15px;"></div>
      <p class="footer-link">All rights reserved 2023</p>
    </div>
    <div id="w-node-_1d6466da-e94d-115c-c97d-71e22c54b461-2c54b452" class="column">
      <div class="label footer-label">Contact</div>
      <a href="mailhere" class="footer-contact-link">contact@fitness.com</a>
      <div class="_30px-spacer"></div>
    </div>
    <div id="w-node-_1d6466da-e94d-115c-c97d-71e22c54b46f-2c54b452" class="column">
      <div class="label footer-label">Explore</div>
      <a href="about" class="footer-link">About</a><a href="contact" class="footer-link">Contact</a>
    </div>
  </div>
</div>
</div>
<script src="/js/script.js" type="text/javascript"></script>
<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
<style>
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
</body>

</html>