<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Fitness wesbite</title>
  <meta
    content="Fitensso is the best eCommerce solution for any fitness coach that wants to sell their premium packages, schedule calls or collect emails with free classes &amp; resources."
    name="description" />
  <meta content="Fitnesso - Webflow Ecommerce website template" property="og:title" />
  <meta
    content="Fitensso is the best eCommerce solution for any fitness coach that wants to sell their premium packages, schedule calls or collect emails with free classes &amp; resources."
    property="og:description" />
  <meta content="Fitnesso - Webflow Ecommerce website template" property="twitter:title" />
  <meta
    content="Fitensso is the best eCommerce solution for any fitness coach that wants to sell their premium packages, schedule calls or collect emails with free classes &amp; resources."
    property="twitter:description" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="/css/animate.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link href="/favicons/5e80894f63c557e083ed96b4-5e848c97428d2ea1e93180b0_Favcon.png" rel="shortcut icon"
    type="image/x-icon" />
  <link href="/favicons/5e80894f63c557e083ed96b4-5e848c993fb6cf1526f47300_Webclip.png" rel="apple-touch-icon" />
  <script src="/js/1.6.26-webfont.js" type="text/javascript"></script>
</head>
<div class="page-wrap">
  <div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav" style="background-color: rgb(255,255,255,0.9); height: 60px;">
    <div class="container nav-container">
      <a href="/" aria-current="page" class="brand w-nav-brand w--current"><img
          src="/images/5e80894f63c557e083ed96b4-5e808ce7dc544553a7f1b1e4_Black.svg" alt="" class="brand-logo" /></a>
      <div class="nav-right-wrap">
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="contact" class="button small w-button">Book a call</a>
          <a href="about" class="nav-link w-nav-link">About</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<body>