/* hero */
.animate-on-load.fadeIn {
  animation: fadeIn 500ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.animate-on-load.blur {
  animation: blur 500ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes blur {
  to {
    filter: blur(0);
    transform: scale(1, 1);
  }
}

/* ease */
.animate-on-scroll.easeIn,
.animate-on-scroll.easeIn1,
.animate-on-scroll.easeIn2,
.animate-on-scroll.easeIn3,
.animate-on-scroll.easeIn4,
.animate-on-scroll.easeIn5,
.animate-on-scroll.easeIn6,
.animate-on-scroll.easeIn7,
.animate-on-scroll.easeIn8,
.animate-on-scroll.easeIn9 {
  animation: easeIn 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--easeIn) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.animate-on-scroll.easeIn1 {
  animation-delay: calc(var(--easeIn1) * -1s);
}

.animate-on-scroll.easeIn2 {
  animation-delay: calc(var(--easeIn2) * -1s);
}

.animate-on-scroll.easeIn3 {
  animation-delay: calc(var(--easeIn3) * -1s);
}

.animate-on-scroll.easeIn4 {
  animation-delay: calc(var(--easeIn4) * -1s);
}

.animate-on-scroll.easeIn5 {
  animation-delay: calc(var(--easeIn5) * -1s);
}

.animate-on-scroll.easeIn6 {
  animation-delay: calc(var(--easeIn6) * -1s);
}

.animate-on-scroll.easeIn7 {
  animation-delay: calc(var(--easeIn7) * -1s);
}

.animate-on-scroll.easeIn8 {
  animation-delay: calc(var(--easeIn8) * -1s);
}

.animate-on-scroll.easeIn9 {
  animation-delay: calc(var(--easeIn9) * -1s);
}

@keyframes easeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  60% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ease end */
.animate-on-scroll.scroll-1 {

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: translateX(-35vw);
  }
}

.animate-on-scroll.scroll-2 {

  animation: rotate2 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate2 {
  to {
    transform: translateX(25vw);
  }
}

.animate-on-scroll.scale {

  animation: scale 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scale) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes scale {
  0% {
    opacity: 0.5;
    transform: scale(1, 1);
  }

  60% {
    opacity: 1;
    transform: scale(1.4, 1.4);

  }

  100% {
    opacity: 1;
    transform: scale(1.4, 1.4);

  }
}