<!DOCTYPE html>
<html>

<%- include('head') %>

    <body>

        <%- include('navbar') %>

            <div class="section contact-hero wf-section animate-on-load OnlyfadeIn">
                <div class="container">
                    <div class="hero-slider-content">
                        <div id="w-node-f2bd7fdc-a738-1450-b4f9-1b53880bc1f6-d9833c46" class="column max-600">
                            <div class="label _30-margin">Contact<br /></div>
                            <h1>Get in touch today to schedule your discovery call.</h1>
                            <p class="big-paragraph max-500">Just fill out this short form on the right to get started
                                in your
                                life
                                changing journey. If you prefer you can contact us below directly.</p>
                            <div class="label _15-margin">Email</div>
                            <a href="#" class="contact-link">contact@fitnesso.com</a>
                            <div class="_30px-spacer"></div>
                            <div class="label _15-margin">Phone</div>
                            <a href="#" class="contact-link">+381 73 49 032</a>
                        </div>
                        <div id="d9833c46" class="contact-form w-form">
                            <form id="email-form" name="email-form" data-name="Email Form" method="get"
                                class="form-content">
                                <div class="contact-form-grid">
                                    <input type="text" class="form-field w-input" maxlength="256" name="Full-Name"
                                        data-name="Full Name" placeholder="Full Name" id="Full-Name-3" required="" />
                                    <input type="text" class="form-field w-input" maxlength="256" name="Current-Weight"
                                        data-name="Current Weight" placeholder="Current Weight" id="Current-Weight" />
                                    <input type="text" class="form-field w-input" maxlength="256" name="Goal-Weight"
                                        data-name="Goal Weight" placeholder="Goal Weight" id="Goal-Weight" />
                                    <input type="email" class="form-field w-input" maxlength="256" name="Email"
                                        data-name="Email" placeholder="Email" id="Email" required="" />
                                    <textarea placeholder="Describe Your Goals" maxlength="5000"
                                        id="Describe-Your-Goals" name="Describe-Your-Goals"
                                        data-name="Describe Your Goals"
                                        class="text-area w-node-_8c6a0f55-9940-658b-7324-98313b6aa3d7-d9833c46 w-input"
                                        required=""></textarea>
                                    <input type="submit" value="Get in touch" data-wait="Please wait..."
                                        id="w-node-aa2731c4-ac7b-fa72-caa7-5b2b0a162553-d9833c46"
                                        class="button w-button" />
                                </div>
                            </form>
                            <div class="sucess-message w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footer') %>
                <style>
                    body {
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                </style>
    </body>

</html>